# Ignore all .txt files except requirements.txt
*.txt
!requirements.txt

# Ignore temporary files from editors like VSCode
*~            # Backup files

# Ignore specific Word document
*report.docx

# Ignore specific directories and files
/Documents/

*.log

# Ignore virtual environment
.venv/

# Ignore pytest cache
.pytest_cache/

# Ignore Python bytecode files
__pycache__/


.DS_Store