streamlit
torch
transformers
matplotlib
numpy
speechbrain
noisereduce
datasets
soundfile
speechbrain
accelerate
torch
torchaudio
speechbrain
numpy
tqdm
tensorboard
sentencepiece
datasets[audio]
pydub
resampy
